{% extends "base.html" %}

{% block content %}
    <h1>添加运动记录</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.exercise_type.label }}<br>
            {{ form.exercise_type(size=32) }}<br>
            {% for error in form.exercise_type.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.duration.label }}<br>
            {{ form.duration(size=32) }}<br>
            {% for error in form.duration.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.calories_burned.label }}<br>
            {{ form.calories_burned(size=32) }}<br>
            {% for error in form.calories_burned.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %} 